<div class="container-fluid">
	<div class="row">
		<div id="betterWay" class="col-sm-12">
			<h1> A better way to grind</h1>
			<h4> Freshly roasted coffee beans delivered weekly to your door</h4>
		</div>
	</div>

	<div id="how-it-works" class="row col-sm-12 text-center">
			<h1> How It Works</h1>
	</div>
	<div class="row">
		<div id="stepOne" class="col-sm-12 steps">
			<h1> 1. We get the coffee</h1>
			<h4> Each bean is hand selected</h4>
			<h4> Each bean is measured for precise size</h4>
			<h4> Each bean is well-cared for</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 steps" id="stepTwo">
				<div id="farmer" class="col-sm-2" id="grower">
				</div>
				<div id="farmer-text" class="col-sm-6 col-sm-offset-1">
					<h1> 2: We pick up the coffee</h1>
					<h4> We place the coffee in bags</h4>
					<h4> Each bag is transported in climate-controlled trucks</h4>
					<h4> Every six hours the bags are rotated to keep the beans uniform and delicious</h4>
				</div>
		</div>
	</div>

	<div class="row">
		<div id="stepThree" class="col-sm-12 steps">
			<div class="col-sm-6">
				<h1> 3: You drink the coffee</h1>
				<h4> The coffee tastes delicious</h4>
				<h4> You want more coffee</h4>
			</div>
			<div id="cupImage" class="col-sm-3">
			</div>
		</div>
	</div>

	<div class='row'> 
		<div class="col-sm-12">
			<div id="arrow-down">
			</div>
			<div  id="get-started" class="text-center">
				<a href="#/register">
					<button class="btn btn-primary-large" ng-click="registerForm();" type="button"> GET STARTED</button>
				</a>
				<h3> Want to know more about us?</h3>
				<a href="#/about">
					<h2> OUR STORY </h2>
				</a>
			</div>
		
		</div>
	</div>

</div>
